<!DOCTYPE>
<html>
    <head>
        <title>Ejercicio</title>
    </head>
    <body>

        <h2>Tarea: {{ tarea.titulo }}</h2>

        {% for usuario in usuarios %}
            <div>
                <h2>Id_usuario: {{usuario.id}}</h2>
                <h2>Nombre: {{usuario.nombre}}</h2>
                <h2>email: {{usuario.email}}</h2>
                <h2>Password: {{usuario.password}}</h2>
                <h2>Fecha registro: {{usuario.fecha_registro}}</h2>
            </div>     
            <hr></hr>    
        {% endfor %}

    </body>


</html>