<html>
    <head></head>
    <body>
    <h1>BIBLIOTECA ONLINE</h1>

    <h2>Listado de enlaces</h2>
    <ul>
        <li><a href="{% url 'lista_libros' %}">Libros</a></li>
        <li><a href="{% url 'dame_libro' 10 %}">Ver libro 10</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'dame_libros_fecha' 2001 4 %}">Libros del año 2001 y del mes Abril</a></li>
        <li><a href="{% url 'dame_libros_biblioteca' 1 'prueba' %}">Libros Biblioteca 1 con filtro de texto</a></li>
        <li><a href="{% url 'dame_libros_biblioteca' 2 'hel' %}">Libros Biblioteca 2 con filtro de texto</a></li>
        <li><a href="{% url 'dame_libros_biblioteca' 1 'pr' %}">Libros Biblioteca 1 con otro filtro de texto</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'libros_no_prestados' %}">Libros No prestados</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'dame_biblioteca' 1 %}">Biblioteca numero 1</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'dame_libros_titulo_en_descripcion' %}">DAme titulos con descripcion que contienen el titulo del libro</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'dame_agrupaciones_puntos_cliente' %}">DAme media puntos clientes</a></li>
    </ul>
    </body>
</html>