<footer class="text-center text-lg-start bg-light text-muted ">
    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Biblioteca Online
            </h6>
            <p>
              Biblioteca Online para obtener libros.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
   
            <h6 class="text-uppercase fw-bold mb-4">
              ¿Qué gestionamos?
            </h6>
            <p>
              <a href="#!" class="text-reset">Bibliotecas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Libros</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Prestamos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Clientes</a>
            </p>
          </div>

  
        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold mb-4">
             Otros Links
            </h6>
            <p>
              <a href="#!" class="text-reset">Precios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Configuracion</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contacta</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
   
            <h6 class="text-uppercase fw-bold mb-4">Información de Contacto</h6>
            <p><i class="fas fa-home me-3"></i>Polígono Sur, Sevilla</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              jorge.baron@iespoligonosur.org
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="{% url 'index' %}">Mi Biblioteca Online</a>
    </div>

  </footer>
