<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Mi biblioteca Online</title>

        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}

        {% block cabecera_extra %}
        {% endblock %}

    </head>
    <body>
        
        {% include 'estructura/menu.html' %}

        <div class="container p-2">

            {% block contenido %}
            {% endblock %}    
        </div>
        {% include 'estructura/pie.html' %}
        {% bootstrap_javascript %}
    </body>
</html>